PR #337: chore: update testing requirements
URL: https://github.com/tenstorrent/tt-llk/pull/337

File: tests/requirements.txt
@@ -1,8 +1,8 @@
-numpy==2.2.5
+numpy==2.2.6
 pytest-cov==6.1.1
 pytest-repeat==0.9.4
 pytest-split==0.10.0
 pytest-sugar==1.0.0
 pytest-timeout==2.4.0
-pytest==8.3.5
-torch==2.7.0
+pytest==8.4.0
+torch==2.7.1

